<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @candidate.area_id %>
</p>

<p>
  <strong>Party list:</strong>
  <%= @candidate.party_list_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @candidate.image %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
