<p id="notice"><%= notice %></p>

<h1>Listing District Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @district_lists.each do |district_list| %>
      <tr>
        <td><%= district_list.name %></td>
        <td><%= link_to 'Show', district_list %></td>
        <td><%= link_to 'Edit', edit_district_list_path(district_list) %></td>
        <td><%= link_to 'Destroy', district_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District list', new_district_list_path %>
