<p id="notice"><%= notice %></p>

<p>
  <strong>Candidate:</strong>
  <%= @vote.candidate_id %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @vote.ip_address %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
